html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 16:9 wrapper */
.viewport169 {
    position: relative;
    width: 100vw;
    max-height: 100vh;
    max-width: calc(100vh * (16 / 9));
    background: #f2f2f2;
    border: 2px solid #000; /* optional to see the frame border */
    overflow: hidden;
	background: transparent;

    /* fallback trick: set height by width ratio */
    height: calc(100vw * (9 / 16));
}

/* Navbar */
.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.navbar button {
    padding: 10px 20px;
    background: #555;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover {
    background: #777;
}

/* iframe */
iframe {
    width: 100%;
    height: calc(100% - 60px); /* 100% minus navbar height */
    border: none;
    display: block;
	overflow: auto;
	opacity: 1;
    transition: opacity 0.5s ease;
}
iframe.fade-out {
    opacity: 0;
}


/* Logo container */
.logo {
	display: flex;
    align-items: center;
	justify-content: center;
	gap: 15px;
    padding: 10px 0;
}

/* If we use an image */
.logo img {
    max-height: 60px;
    width: auto;
}

/* If we use an H1 text logo */
.logo h1 {
    color: white;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

